:root {
	--font-style: "Red Hat Display", sans-serif;

	--bg-color: hsl(0, 0%, 98%);
	--primary-color: hsl(192, 37%, 48%);
	--primary-color-light: hsl(192, 90%, 77%);
	--accent-color: hsl(267, 34%, 53%);
	--accent-color-light: hsl(268, 100%, 86%);

	--font-color-base: hsl(240, 10%, 57%);
	--font-color-headings: hsl(240, 21%, 20%);
	--font-color-btn: hsl(0, 0%, 100%);
	--font-color-footer: hsl(0, 0%, 98%);

	--font-weight-regular: 500;
	--font-weight-black: 900;

	--spacing-base: 2.4rem;
	--spacing-double: calc(var(--spacing-base) * 2);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	min-height: 100svh;
	background-color: var(--bg-color);
	font-family: var(--font-style);
	font-size: 1.6rem;
	font-weight: var(--font-weight-regular);
	line-height: 2.6rem;
	color: var(--font-color-base);
}

h1 {
	color: var(--font-color-headings);
	font-size: 4rem;
	line-height: 4.4rem;
}

h2 {
	font-size: 3.2rem;
	line-height: 3.6rem;
}

.landing-page {
	max-width: 375px;
	margin: auto;
	overflow-x: clip;
}

.landing__logo {
	display: block;
	height: 28px;
	margin: auto;
	margin-top: var(--spacing-base);
	margin-bottom: var(--spacing-double);
}

.landing__avatar {
	position: relative;
	width: 50%;
	display: block;
	float: left;
	margin-bottom: var(--spacing-double);
}

.translate-left {
	transform: translateX(-2rem);
}

.translate-right {
	transform: translateX(2rem);
}

.landing__heading {
	font-weight: var(--font-weight-black);
}

.btn-group {
	margin-top: var(--spacing-base);
	margin-bottom: calc(var(--spacing-base) * 6);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-base);
}

.btn {
	display: block;
	border: 0;
	border-radius: 29rem;
	color: var(--font-color-btn);
	padding: 2rem 4rem;
	font-weight: var(--font-weight-black);
}

.btn-m-auto {
	margin: auto;
}

.btn:hover,
.btn:focus {
	cursor: pointer;
}

.btn-primary {
	background-color: var(--primary-color);
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: hsl(192, 54%, 64%);
}

.btn-primary--font-accent {
	color: var(--primary-color-light);
}

.btn-accent {
	background-color: var(--accent-color);
}

.btn-accent:hover,
.btn-accent:focus {
	background-color: hsl(268, 55%, 71%);
}

.btn-accent--font-accent {
	color: var(--accent-color-light);
}

.relative {
	position: relative;
	z-index: 1;
}

.circle {
	margin: auto;
	margin-top: 10rem;
	border: 1px solid var(--font-color-base);
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	font-weight: var(--font-weight-black);
	background-color: var(--bg-color);
}

.circle-2 {
	transform: translateY(2.5rem);
}

.circle:before {
	top: -7rem;
	bottom: 5rem;
	position: absolute;
	content: "";
	width: 0.1rem;
	background-color: var(--font-color-base);
}

.landing__images {
	margin: 0 var(--spacing-base);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: var(--spacing-base);
}

.landing__image {
	border-radius: 0.8rem;
	width: 100%;
}

.max-text-width {
	margin: auto;
	max-width: 325px;
}

.overline {
	color: var(--primary-color);
	line-height: 2.6rem;
	letter-spacing: 0.4rem;
	font-weight: var(--font-weight-black);
	text-transform: uppercase;
	text-wrap: nowrap;
}

.heading-two--dark {
	color: var(--font-color-headings);
}

.landing__footer {
	position: relative;
	z-index: 0;
	color: var(--font-color-footer);
	padding: calc(var(--spacing-base) * 3) 0rem;
	background: url("../assets/mobile/image-footer.jpg")
		no-repeat top center / cover;
}

.landing__footer:before {
	content: "";
	width: 100%;
	top: 0;
	bottom: 0;
	position: absolute;
	background-color: var(--primary-color);
	opacity: 0.7;
	z-index: -1;
}

.footer-font {
	color: var(--font-color-footer);
}

.footer__heading {
	text-align: center;
}

.footer_text {
	margin: var(--spacing-base) 0;
	padding: 0 var(--spacing-base);
	text-align: center;
}

/** Utilities **/

.text-align-center {
	text-align: center;
}

.flex-all-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.plr-double {
	padding: 0 var(--spacing-double);
}

.mt-element-small {
	margin-top: var(--spacing-base);
}

.mt-element-large {
	margin-top: var(--spacing-double);
}

@media screen and (min-width: 768px) {
	.landing-page {
		max-width: 768px;
	}

	.btn-group {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.landing__images {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: initial;
	}

	.max-text-width {
		margin: auto;
		max-width: 573px;
	}

	.landing__footer {
		background: url("../assets/tablet/image-footer.jpg")
			no-repeat top center / cover;
	}

	.footer__heading {
		padding: 0 calc(var(--spacing-base) * 10);
	}

	.footer_text {
		padding: 0 calc(var(--spacing-base) * 6);
	}
}

@media screen and (min-width: 1440px) {
	.landing-page {
		max-width: 1440px;
	}

	.landing-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--spacing-double);
	}

	.grid-item-one {
		grid-row: 1 / 1;
		grid-column: 1 / 1;
	}

	.grid-item-two {
		grid-row: 1 / 1;
		grid-column: 2 / 2;
	}

	.grid-item-three {
		grid-row: 1 / 1;
		grid-column: 3 / 3;
	}

	.btn-group {
		margin-bottom: 0;
	}

	.landing__avatar {
		margin-bottom: 0;
		width: 100%;
	}

	.max-text-width {
		margin: auto;
		max-width: 540px;
	}

	.landing__images {
		margin-left: calc(var(--spacing-base) * 6);
		margin-right: calc(var(--spacing-base) * 6);
	}

	.landing__footer {
		display: grid;
		grid-template-columns: 35ch 30ch 1fr;
		gap: calc(var(--spacing-double) * 4);
		background: url("../assets/desktop/image-footer.jpg")
			no-repeat top center / cover;
	}

	.footer__heading {
		text-align: start;
		padding: 0;
		padding-left: 10rem;
	}

	.footer_text {
		padding: 0;
		margin: 0;
		text-align: start;
	}
}
